.felx-container{
    display: flex;
    background-color: orange;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.flex-item{
    width: 200px;
    margin: 10px;
    border: 3px solid;
    background-color: chartreuse;
}

.flex-item1{
    min-height: 100px;
    text-align: center;
    font-size: larger;
    align-self: center;
}
.flex-item2{
    min-height: 200px;
}